<!--bootstrap using-->
<button type="button" class="btn btn-success">Success</button>

<!--br-->
<mat-divider class="my-5"></mat-divider>

<!-- angular material ex1 -->
<div class="example-button-container my-5">
  <button mat-fab extended>
    <mat-icon>favorite</mat-icon>
    Basic
  </button>
</div>
<!-- angular material ex2 -->
<mat-divider class="mb-5"></mat-divider>
<section>
  <div class="example-label mt-5">Extended Fab</div>
  <div class="example-button-row mt-5">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab extended>
          <mat-icon>favorite</mat-icon>
          Basic
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab extended disabled>
          <mat-icon>favorite</mat-icon>
          Disabled
        </button>
      </div>
      <div class="example-button-container">
        <a mat-fab extended routerLink=".">
          <mat-icon>favorite</mat-icon>
          Link
        </a>
      </div>
    </div>
  </div>
</section>

<!--br-->
<mat-divider class="my-5"></mat-divider>

<!-- primeNg ex1 -->
<p-button label="Contrast" severity="contrast" />

<!--br-->
<mat-divider class="my-5"></mat-divider>

<!-- primeNg ex2 -->
<p-buttonGroup>
  <p-button label="Save" icon="pi pi-check" />
  <p-button label="Delete" icon="pi pi-trash" />
  <p-button label="Cancel" icon="pi pi-times" />
</p-buttonGroup>

